application/verticalPrototype/backend/node_modules/
application/verticalPrototype/frontend/node_modules/
application/horizontalPrototype/frontend/node_modules/
application/horizontalPrototype/frontend/node_modules/
node_modules/