.register-body  {
    background: linear-gradient(135deg, rgb(0, 200, 255), rgb(255, 99, 224));
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}


.login-wrapper {
    background: linear-gradient(135deg, rgb(0, 200, 255), rgb(255, 99, 224));
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}