.names-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.names-wrapper p {
    margin-right: 20px;
}

.about-wrapper {
    width: 80%;
}

.description p {
    font-size: medium;
}