.notification-section {
    max-height: 200px;
    max-width: 800px;
    padding: 20px; 
    /* margin-top: 70px; */
    border-radius: 10px; 
    /* box-shadow: 0 0 10px rgba(92, 70, 70, 0.1);  */
    color: #fff; 
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    margin-bottom: 20px; 
    padding: 20px;
    background-color: #0a0a0a; 
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(35, 30, 30, 0.2);
    width: 60vh; 
}

.notification-content {
    flex: 1; 
    display: flex;
    flex-direction: row;
    align-items: center; 
    text-align: left;
    margin-right: 20px;

}

.notification-info {
    margin-left: 10px;
}

.notification-sender {
    font-weight: bold;
    margin-bottom: 5px;  
    font-size: .8em;
    margin-right:20px;
}

.notification-text {
    font-size: .5em;
    font-weight: lighter;
}

.notification-actions {
    display: flex;
}

.notification-actions button {
    margin-right: 10px;
   
    padding: 10px 20px; 
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    font-weight: bold; 
    color: #fff; 
    background-color: #5C5C5C; 
    transition: border 0.1s;
}

.notification-actions button.accept {
    background-color: #AD45FF;
}

.notification-actions button.decline {
    background-color: #2C2C2E;
}


.notification-actions button:last-child {
    margin-right: 0;
}

.accepted {
    font-size: 1.2rem;
    color: #AD45FF;
}

.title{
    /* margin-top: 40px; */
    font-size: 2.0rem;
    color: #fff;
}

.intro{
    margin-top: 10px;
    font-size: 1.1rem;
    color: gray;
}
.notification-section .back-home{
    padding: 12px 20px;
    border-radius: 50px;
    background-color: gray;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    /* width: 120px; */
    cursor: pointer;
    border: none;
}

.notification-section .back-home:hover{
    background-color: #AD45FF;
}