.route-container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 20px;
  margin-left: 300px;
  
  }

  .filter-bar{ 
    border-style: solid;
    border-width: 1px;
    border-color: #AD45FF;
    width: 270px;
    height: 500px;
    padding: 20px;
    position:absolute;
    left: 20px;
  }
  .transportation-container {
    position: relative;
    margin: top 20%;;
  }
  
  .route-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
  }
  
  .route-panel {
      background-color: black;
      display: flex;
      flex-direction: column;
      text-align: left;
      overflow: hidden;
      border-radius: 30px;
      cursor: pointer; 
      transition: transform 0.3s ease, box-shadow 0.3s ease; 
      width: 250px;
      height: 310px;
      padding-left: 14px;
      margin-bottom: 47px;
      justify-content: space-between;
  }
  
  .route-panel h2 {
    margin-top: 0;
  }
  
  .route-panel p {
    font-size: 14px;
    text-align: left;
  }
  .route-map img {
    max-width: 100%;
  }

  .route-map {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;   
    width: 80%; 
    max-width: 800px; 
    max-height: 80%; 
    overflow: auto; 
    box-sizing: border-box; 
    position:fixed; 
  }
  
  .route-panel button {
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 40px; 
    font-size: 16px; 
    padding: 5px 10px; 
    border:#ccc;
    background-color: rgb(115, 90, 133); 
    color: white; 
    cursor: pointer; 
    outline:#ccc; 
    margin-top: 5px;
    align-self:center;
    
  }

  .route-panel button:hover{
    background-color: #AD45FF; 
  }
  
  .route-map button {
    position:fixed; 
    top: 10px; 
    right: 10px; 
  }

  .route-panel p {
    font-size: 12px;
  }